<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class='table'>
    <tr>
        <td>username</td>
        <td><input class="form-control",type="text"></td>
    </tr>
    <tr>
        <td>password</td>
        <td><input class="form-control" ,type="password"></td>
    </tr>
    <tr>
        <td>male</td>
        <td><input class="form-control", type="radio"></td>
        <td>female</td>
        <td><input class="form-control", type="radio"></td>
    </tr>
    <tr>
        <td>Country</td>
        <td>
            <select class="form-control",name=""id="">
                <option value="india">India</option>
                <option value="China">China</option>
                <option value="UAE">UAE</option>
            </select>
        </td>
    </tr>
    </table>
</body>
</html>