{% extends 'header1.html'  %} 

{%  block myContent  %}
    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
            <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
                <table class="table table-striped">
                    <thead class="table-warning">
                        <tr>
                            <th>Main Course</th>
                            <th>Starter</th>
                            <th>Dessert</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in data %}
                        <tr>
                            
                            <td>{{i.Maincourse}}</td>
                            <td>{{i.Starter}}</td>
                            
                            <td>{{i.Dessert}}</td>
                            
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
                <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>

        </div>
    </div>
{% endblock  %}    
    
