<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4"></div>
                
    
                   
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <table class="table table-borderless">
                    <tr>
                        <td>Bloodgroup</td>
                        <td><select class="form-control",blood=""id="">
                            <option value="A+">A+</option>
                            <option value="A">A</option>
                            <option value="O+">O</option>
                            <option value="O-">O-</option>
                            <option value="B+">B+</option>
                            <option value="B-">B-</option>
                            <option value="AB+">AB</option>
                            <option value="AB-">AB-</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td><input type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td><textarea name="" id="" cols="30" rows="5" class="form-control"></textarea></td>
                    </tr>
                    <tr>
                        <td>phoneno</td>
                        <td><input type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>email</td>
                        <td><input type="text" class="form-control"></td>
                    </tr>
                    
                    <tr>
                        <td></td>
                        <td><center><button class="btn-success">Register</button></center></td>
                    </tr>
                </table>
                </div>
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4"></div>
        </div>
        
    </div>
        

    </body>
    
</html>