<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=table, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td>Productname</td>
            <td><input placeholder="enter the product name" type="text"></td>
        </tr>
        <tr>
            <td>Productdetails</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Sellername</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Manufacturename</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Manufacturing date</td>
            <td><input type="date"></td>
        </tr>
        <tr>
            <td>Expirydate</td>
            <td><input type="date"></td>
        </tr>
        <tr>
            <td>price</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td></td>
            <td><button class="btn btn-success">Submit</button></td>
        </tr>
    </table>



</body>
</html>